#page-top {
    height: 90vh;
    background-position: center;
    background-size: cover;
    transition: background .3s linear;
    padding-top: 5vh;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0;
}

.caption-citation-container {
    padding: 20px, 20px, 20px, 20px !important;
    background-color: #f87060;
    color: white;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
}

.caption-citation {
    float: left;
}

.scroll-hint {
    float: right;
    text-align: right;
}

.top-title-container {
    text-align: center;
}

#center-crab-wrapper {
    vertical-align: middle;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

#center-crab {
    width: 40vw;
    padding-top: 10vw;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}