canvas {
	background: white;
	float: right;
	width: 700px;
	margin-top: 10px;
	margin-right: 20px;
}

.instructions {
	padding-left: 30px;
	padding-top: 30px;
	float: left;
	width: calc(100% - 800px);
}